@model IEnumerable<AvailabilityMonitor_Firebase.Models.Config>

@{
    ViewData["Title"] = "Index";
}

<h1>Configuration</h1>

<p></p>
@foreach (var item in Model) {
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SupplierFileUrl):
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.SupplierFileUrl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrestaShopUrl):
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.PrestaShopUrl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrestaApiKey):
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.PrestaApiKey)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Currency):
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Currency)
            </dd>
            <dt></dt>
        </dl>
}
@Html.ActionLink(linkText: "Edit", actionName: "Edit")